.git
.gitignore
.venv
__pycache__
*.pyc
.pytest_cache
.ipynb_checkpoints

.env

mlflow.db
mlruns

reports/weekly_reports/*.md

data/raw/*
!data/raw/.gitkeep

data/vector_store/*
!data/vector_store/.gitkeep