# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Environment / secrets
.env
.env.*

# Raw project data
data/raw/*
!data/raw/.gitkeep

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Generated MLflow data
mlruns/